/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@400;600&family=Titillium+Web:wght@200;300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f100;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #11101dad;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #11101ddf;
  }

body{
    width: 100%;
    height: 100vh;
}

.body-section {
    display: flex;
    flex-direction: column;
    background: var(--background-2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    backdrop-filter:(10px);
    transition: all 0.5s ease;
    overflow: hidden;
    border-radius: 10px;
}





/* .body-section .title-bar .taskbar #good-greet {
    font-size: 0.8vw;
    font-weight: 500;
} */

.body-section .main-content {
    position: relative;
    height: 100%;
    z-index: 8;
    /* background: rgba(255, 255, 255, 0.457); */
    overflow-wrap: break-word;

}



.about-content {
    display: none;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}
