.task-content {
    display: none;
    height: 100%;
    /* overflow-y: hidden; */
    z-index: -5;
}

.menu_content_visible {
    display: block;
}

.task-wrapper {
    display: flex;
    flex-direction: column;
    padding: 40px 0 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    background: var(--background-1);
    border-radius: 7px;
    box-shadow: 0 10px 30px rgb(0 0 0 / 10%);
    height: 90%;
}

.task-input {
    display: flex;
    flex-direction: row;
    height: 52px;
    padding: 0 25px;
    position: relative;
}

.task-input #task_add_icon {
    font-size: 35px;
    border: none;
    opacity: 0.6;
    outline: none;
    color: var(--text-icons-special-case);
    cursor: pointer;
    /* font-size: 13px; */
    padding: 10px;
    border-radius: 4px;
    letter-spacing: 0.3px;
    pointer-events: none;
    transition: transform 0.25s ease;
    background: rgb(7, 7, 7);
    font-variant: diagonal-fractions;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
}

.task-input #task_add_icon.active {
    opacity: 0.9;
    pointer-events: auto;
}

.task-input #task_add_icon:active {
    transform: scale(0.93);
}

.task-input img {
    top: 50%;
    position: absolute;
    transform: translate(17px, -50%);
}

.task-input input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    padding: 0 20px 0 53px;
    border: 2px solid #000000;
    background-color: var(--background-1);
    color: var(--text-icons-1);
}

.task-input input:focus,
.task-input input.active {
    padding-left: 52px;
    border: 3px solid var(--background-3);
}

.task-input input::placeholder {
    color: var(--text-icons-ccc);
}

.controls,
.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controls {
    padding: 18px 25px;
    border-bottom: 1px solid var(--text-icons-ccc);
}

.filters span {
    margin: 0 8px;
    font-size: 17px;
    color: var(--text-icons-2);
    cursor: pointer;
}

.filters span:first-child {
    margin-left: 0;
}

.filters span.active {
    transition: all ease-in-out 0.5s;
    color: var(--text-icons-1);
    font-weight: 500;
}

.controls .clear-btn {
    border: none;
    opacity: 0.4;
    outline: none;
    color: var(--text-icons-special-case);
    cursor: pointer;
    font-size: 13px;
    padding: 7px 13px;
    border-radius: 4px;
    letter-spacing: 0.3px;
    pointer-events: none;
    transition: transform 0.25s ease;
    background: rgb(7, 7, 7);
}

.clear-btn.active {
    opacity: 0.9;
    pointer-events: auto;
}

.clear-btn:active {
    transform: scale(0.93);
}

.task-box {
    margin-top: 20px;
    margin-right: 5px;
    padding: 0px 15px 20px 20px;
    overflow-y: scroll;
    z-index: 0;
    height: 100%;
}

.task-box::-webkit-scrollbar {
    width: 5px;
}

.task-box::-webkit-scrollbar-track {
    background: var(--scroll-track);
    border-radius: 25px;
}

.task-box::-webkit-scrollbar-thumb {
    background: var(--scroll-thumb);
    border-radius: 25px;
}

.task-box .task {
    list-style: none;
    font-size: 20px;
    margin-bottom: 18px;
    padding-bottom: 16px;
    align-items: flex-start;
    border-bottom: 1px solid var(--text-icons-ccc);
}

.task-box .task:last-child {
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
}

.task-box .task label {
    display: flex;
    align-items: flex-start;
}

.task-box span {
    color: var(--text-icons-2);
}

.task label input {
    margin-top: 10px;
    accent-color: var(--text-icons-1);
}

.task label p {
    user-select: none;
    margin-left: 12px;
    word-wrap: break-word;
    color: var(--text-icons-1);
}

.task label p.checked {
    text-decoration: line-through;
}

.task-box .settings {
    position: relative;
    color: var(--text-icons-2);
}

.settings :where(i, li) {
    cursor: pointer;
}

.settings .task-menu {
    z-index: 10;
    right: -5px;
    bottom: -65px;
    padding: 5px 0;
    background: var(--background-1);
    position: absolute;
    border-radius: 4px;
    transform: scale(0);
    transform-origin: top right;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease;
}

.task-box .task:last-child .task-menu {
    bottom: 0;
    transform-origin: bottom right;
}

.task-box .task:first-child .task-menu {
    bottom: -90px;
    transform-origin: top right;
}

.task-menu.show {
    transform: scale(1);
}

.task-menu li {
    display: flex;
    height: 40px;
    font-size: 16px;
    margin-bottom: 2px;
    padding: 9px 15px;
    cursor: pointer;
    justify-content: flex-start;
    color: var(--text-icons-1);
}

.task-menu li:last-child {
    margin-bottom: 0;
}

.settings li:hover {
    background: var(--background-2);
}

.settings li i {
    padding-right: 8px;
}

@media (max-width: 400px) {
    .task-wrapper {
        padding: 20px 0;
    }

    .filters span {
        margin: 0 5px;
    }

    .task-input {
        padding: 0 20px;
    }

    .controls {
        padding: 18px 20px;
    }

    .task-box {
        margin-top: 20px;
        margin-right: 5px;
        padding: 0 15px 10px 20px;
    }

    .task label input {
        margin-top: 4px;
    }
}