@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
}
::selection{
  color: #ffff;
  background: rgb(235, 220, 8);
}

#dev_link{
  color: #cf685c;
  font-weight: 500;
  font-family: 'Comfortaa', cursive;
  font-size: smaller;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #FFBD9B;
  transition: 1s ease-in-out;
}
.phone_wrapper{
  display: none;
}

::-webkit-resizer {
  z-index: 9;
  position: initial;
  border-width: 8px;
  border-style: solid;
  border-color: transparent #ec1717 #ec1717 transparent;
  box-shadow: 9px 8px 15px rgb(0 0 0 / 20%);
  /* outline: 2px solid yellow; */
}
::-webkit-scrollbar {
  width: 10px;
  height: 100%;
  overflow-y: scroll;
}
::-webkit-scrollbar-thumb {
  border-radius: 120px;
	background: rgb(252, 197, 195);
	cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
  background: #ff6d68;
	cursor: pointer;
  transition: all 1s ease;
}
::-webkit-scrollbar-track {
  background: transparent;
}

.wrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  background: #fff;
  max-width: 430px;
  width: 100%;
  /* margin: 30px auto; */
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  transition: 1.1s ease-in-out;
}
.wrapper header{
  display: flex;
  align-items: center;
  font-size: 35px;
  font-weight: 600;
  color: #52BE80;
}
.dropdown-content p{
  font-size: small;
}
.wrapper .todo_user{
  padding-top: 20px;
  display: flex;
  justify-content: center;
}
.todo_user .todoname{
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  padding-left: 7px;
  font-size: 20px;
  
}
.wrapper .inputField{
  margin-top: 15px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  height: 45px;
}
.inputField input{
  width: 90%;
  height: 100%;
  outline: none;
  border-radius: 3px;
  border: 2.5px solid rgb(205, 245, 255);
  font-size: 17px;
  padding-left: 7px;
  transition: all 0.3s ease;
  font-family: 'Comfortaa', cursive;
}
b{
  font-family: 'Poppins', sans-serif;
}
.inputField input:focus{
  /* border-color: #3a7c57; */
  border: 3px #3a7c57 solid;
}
.inputField button{
  width: 50px;
  height: 100%;
  border: none;
  color: #fff;
  margin-left: 5px;
  font-size: 21px;
  outline: none;
  background: #e74c3c;
  cursor: pointer;
  border-radius: 3px;
  opacity: 0.6;
  pointer-events: none;
  transition: all 0.3s ease;
}
.inputField button:hover,
.footer button:hover{
  background: #cf685c;
}
.inputField button.active{
  opacity: 1;
  pointer-events: auto;
}
.wrapper .todoList{
  padding-right: 8px;
  max-height: 230px;
  overflow-y: auto;
  transition: 1s ease-in-out;
}
.wrapper .todoList::-webkit-scrollbar {
	width: 10px;
	height: 100%;
	cursor: pointer;
	/* overflow-x: scroll; */
}

.wrapper .todoList::-webkit-scrollbar-track {
  margin-left: 30px;
	background: transparent;
	cursor: pointer;
}

.wrapper .todoList::-webkit-scrollbar-thumb {
  border-radius: 120px;
	background: rgb(252, 197, 195);
	cursor: pointer;
  
}

.wrapper .todoList::-webkit-scrollbar-thumb:hover {
	background: #ff6d68;
	cursor: pointer;
  transition: all 1s ease;
}
.wrapper header span{
  font-size: 15px;
  cursor: pointer;
  color: #e74c3c;
  transition: 1s ease-in-out;
  
}
#coffee{
  position: relative;
  width: 55px;
  /* animation: day 1s infinite; */
  bottom: 11px;
}

.todoList li{
  position: relative;
  list-style: none;
  height: 45px;
  line-height: 45px;
  margin-bottom: 8px;
  background: #f2f2f2;
  border-radius: 3px;
  padding: 0 15px;
  cursor: default;
  overflow: hidden;
  transition: 1s ease-in-out;
}
.todoList li .icon{
  position: absolute;
  right: -45px;
  background: #e74c3c;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  transition: all 0.5s ease;
}
.todoList li:hover .icon{
  right: 0px;
}
.wrapper .footer{
  display: flex;
  width: 100%;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
  transition: 1s ease-in-out;
}
.wrapper .footer span{
  font-size: 15px;
}
.footer button{
  padding: 6px 10px;
  border-radius: 3px;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  margin-left: 5px;
  background: #FFBD9B;
  cursor: pointer;
  user-select: none;
  opacity: 0.6;
  pointer-events: none;
  transition: all 0.3s ease;
}
.footer button.active{
  opacity: 1;
  pointer-events: auto;
}

.footer .time {
  display: inline-block;
  cursor: pointer;
  color: #e74c3c;
  font-family: 'Poppins', sans-serif;
  transition: all 3s ease-in-out;
  font-size: 20px;
}

.features{
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
  position: absolute;
  border-radius: 5px;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  top: 0px;
  right: 0px;
  background-color: #52BE80;
  width: 45px;
  height: 95px;
  transition:all 1s ease-in-out;
}

.music_mode_btn {
	position: absolute;
	top: 45px;
	right: 10px;
	font-size: 1.5em;
	cursor: pointer;
	background: none;
	border: none;
	outline: none;
  transition:all 1s ease-in-out;
}

.music_mode_btn:hover {
	animation: hoverfeatures 0.5s infinite;
}
.dark_mode_btn:hover {
	animation: hoverfeatures 0.5s infinite;
}

/*dark mode*/
.dark_mode_btn {
	position: absolute;
	top: 5px;
	right: 10px;
	font-size: 1.5em;
	cursor: pointer;
	background: none;
	border: none;
	outline: none;
  transition:all 1s ease-in-out;
}

.dark_mode_active {
	background: rgb(28, 28, 37);
	transition: 1s ease-in-out;
}
.dark_mode_active .dark_mode_btn{
	color:#fc808a;
  transition: all 1s ease-in-out;
}
.dark_mode_active .music_mode_btn{
	color:#fc808a;
  transition: all 1s ease-in-out;
}

.dark_mode_active .music_mode_btn:hover {
	animation: hoverfeaturesdark 0.5s infinite;
}
.dark_mode_active .dark_mode_btn:hover {
	animation: hoverfeaturesdark 0.5s infinite;
}

.dark_mode_active .wrapper {
	background: rgba(255, 255, 255, 0.055);
	transition: 1s ease-in-out;
}

.dark_mode_active .dropdown-content p{
	color: #fc808a;
	transition: 1s ease-in-out;
}

.dark_mode_active .thought .interest {
  background: rgba(0, 0, 0, 0.397);
	color: #ff6c78;
	transition: 1s ease-in-out;
}
.dark_mode_active .footer button {
  background: #2b1e1e;
	color: #ffb1b8;
	transition: 0.5s ease-in-out;
}
.dark_mode_active .footer button:hover{
  background: #240000;
}
.dark_mode_active .inputField input{
  border: 2.5px solid #ff9900;
  background-color: rgba(255, 122, 122, 0.185);
  transition: 0.3s ease-in-out;
  color: #52BE80;
}
.dark_mode_active .inputField input:focus{
  border: 4px solid #ff9900;
  transition: 0s ease-in-out;
}

.dark_mode_active .todoList li{
  color: #52BE80;
  background-color: rgba(255, 255, 255, 0.089);
  transition: 1s ease-in-out;
}
.dark_mode_active .features{
  background-color: rgba(255, 255, 255, 0.089);
  transition:all 1s ease-in-out;
}
.dark_mode_active .wrapper .todoList::-webkit-scrollbar-thumb {
  border-radius: 120px;
	background: rgba(255, 255, 255, 0.178);
	cursor: pointer;
  
}
.dark_mode_active .wrapper .todoList::-webkit-scrollbar-thumb:hover {
  border-radius: 120px;
	background: #ff6d68;
	cursor: pointer;
  
}

.dark_mode_active #history {
	color: #ddd;
	transition: 1s ease-in-out;
}



/* Animation */
@keyframes day {
  50%{
    color: #ff5846;
  }
}
@keyframes hoverfeaturesdark {
  50%{
    color: #ff523e;
  }
}
@keyframes hoverfeatures {
  50%{
    color: #ffc3bf;
  }
}

@media screen and (max-width: 410px) {
  .wrapper {
    display: none;
  }
  .phone_wrapper{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  background: #fff;
  max-width: 430px;
  width: 80%;
  /* margin: 30px auto; */
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  transition: 1.1s ease-in-out;
  }
  #coffee_phone{
    position: relative;
    width: 55px;
    /* animation: day 1s infinite; */
    margin-top: 8px;
  }
  #sub_text{
    margin-top: 5px;
    text-align: center;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
  }
  #sub_sub_text{
    margin-top: 5px;
    text-align: center;
    font-size: 8px;
    font-family: 'Comfortaa', cursive;
  }
}

